.createTicketContainer {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;

}
.mainContent h1 {
  margin-bottom: 15px;
}
.header {
  display: flex;
  align-items: center; 
}

.logoContainer {
  background-color: #ccc;
  padding: 10px;
}

.logo {
  font-size: 60px;
  font-weight: bold;
  
  color: #000000;
}

.navigation {
  margin-left: 20px; 
  border: 2px solid #000000; 
  border-radius: 5px; 
  display: flex; 
  overflow: hidden; 
}

.navigation button {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff; 
}

.navigation .active {
  background-color: #add8e6;
}

.navigation button:not(:last-child) {
  border-right: 2px solid #000000; 
}

.mainContent {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #f9f9f9; 
}

.h1 {
  color: #333; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form label {
  font-weight: bold;
  color: #333; 
}

.form input,
.form select,
.form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333; 
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box; 
}

.form select {
  width: 100%;
}

.searchContainer {
  position: relative;
}

.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.suggestions li {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #e0e0e0;
}

.suggestions li:first-child {
  margin-top: 0;
}

.suggestions li:last-child {
  margin-bottom: 0;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.buttonContainer button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #6f6a6a; 
  cursor: pointer;
}

.buttonContainer button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  border: 1px solid #007bff;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.textareaContainer {
  position: relative;
  width: 100%;
}

.textareaContainer textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; 
  min-height: 100px; 
}

.charCount {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: #777;
}